<ion-header >
    <ion-toolbar color= "dark">
      <ion-title >
         Monitoring Vericompost Production
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
        
          <ion-card-title><ion-icon name="pulse"></ion-icon>&nbsp;Soil Moisture</ion-card-title>
          <ion-card-subtitle>Soil Moisture Average from Four Soil Moisture Sensors in Percent </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p style="font-size: 48px;">1023</p>
        </ion-card-content>
      </ion-card>
    
      <ion-card>
        <ion-card-header>
       
          <ion-card-title><ion-icon name="thermometer"></ion-icon>&nbsp;Soil Temperature</ion-card-title>
          <ion-card-subtitle>Soil Temperature Average from two Temperature Sensors in Celsius</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p style="font-size: 48px;">{{ output.temperature }}°C</p>
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title> <ion-icon name="water"></ion-icon>&nbsp; Water Level</ion-card-title>
          <ion-card-subtitle>Current Water Level of the Water Supply in Centimeters</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <p style="font-size: 48px;">{{ output.humidity }} %</p>
        </ion-card-content>
      </ion-card>
    
</ion-content>
