<ion-header>
  <ion-toolbar>
    <ion-title>
      Measurement Records
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
    <div class="table100 ver1 m-b-110">
        <div class="table100-head">
          <table>
            <thead>
              <tr class="row100 head">
                <th class="cell100 column1">Date</th>
                <th class="cell100 column2">Soil Moisture</th>
                <th class="cell100 column3">Soil Temp</th>
                <th class="cell100 column4">Water Level</th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="table100-body js-pscroll">
          <br>
          <table>
            <tbody>
              <tr class="row100 body">
                <td class="cell100 column1">04/01/19 10:00 AM</td>
                <td class="cell100 column2">48%</td>
                <td class="cell100 column3">31°C</td>
                <td class="cell100 column4">70%</td>
              </tr>

              <tr class="row100 body">
                  <td class="cell100 column1">04/01/19 10:10 AM</td>
                  <td class="cell100 column2">58%</td>
                  <td class="cell100 column3">30°C</td>
                  <td class="cell100 column4">67%</td>
              
              </tr>

              <tr class="row100 body">
                  <td class="cell100 column1">04/01/19 10:10 AM</td>
                  <td class="cell100 column2">58%</td>
                  <td class="cell100 column3">30°C</td>
                  <td class="cell100 column4">67%</td>
              
              </tr>

              <tr class="row100 body">
                  <td class="cell100 column1">04/01/19 10:10 AM</td>
                  <td class="cell100 column2">58%</td>
                  <td class="cell100 column3">30°C</td>
                  <td class="cell100 column4">67%</td>
              
              </tr>
              <tr class="row100 body">
                  <td class="cell100 column1">04/01/19 10:10 AM</td>
                  <td class="cell100 column2">58%</td>
                  <td class="cell100 column3">30°C</td>
                  <td class="cell100 column4">67%</td>
              
              </tr>

              <tr class="row100 body">
                  <td class="cell100 column1">04/01/19 10:10 AM</td>
                  <td class="cell100 column2">58%</td>
                  <td class="cell100 column3">30°C</td>
                  <td class="cell100 column4">67%</td>
              
              </tr>

              <tr class="row100 body">
                  <td class="cell100 column1">04/01/19 10:10 AM</td>
                  <td class="cell100 column2">58%</td>
                  <td class="cell100 column3">30°C</td>
                  <td class="cell100 column4">67%</td>
              
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</ion-content>
