<ion-header >
  <ion-toolbar color= "dark">
    <ion-title >
       Monitoring Vericompost Production
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id = "bodeh">
  <p>
    <strong>Note: </strong>Connect the Device with the Bluetooth Name of HC-05. Make sure to pair it first in the settings of the bluetooth
  </p>
  <div *ngIf= "status">
    <h3>Status: Connected</h3>
  </div>
  <div *ngIf= "!status">
      <h3>Status: Not Connected</h3>
  </div>
  <ion-button color="primary" (click) = "startScanning()"><ion-icon name="bluetooth"></ion-icon>&nbsp;Scan Devices</ion-button>
  <ion-button color="danger" (click) = "disconnect()"><ion-icon name="remove-circle"></ion-icon>&nbsp; Disconnect</ion-button>
  
  <ion-list>
   
        <h5 *ngIf="gettingDevices" id = "spinner">
            <ion-spinner name="crescent"></ion-spinner> <br>
            Searching For Devices &nbsp;
           
          </h5>
  
   

    <ion-item class="back" *ngFor='let device of unpairedDevices'>
      <span (click)="selectDevice(device.address)">
        {{device.name}}
      </span>
    </ion-item>
  </ion-list>

  
  <!-- <ion-button color="secondary" (click) = "data()"><ion-icon name="play-circle"></ion-icon> &nbsp;Start Receiving Data </ion-button> -->
</div>
</ion-content>
