
@font-face {
  font-family: Lato-Regular;
  src: url('../../assets/fonts/Lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: Lato-Bold;
  src: url('../../assets/fonts/Lato/Lato-Bold.ttf'); 
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
}


body, html {
  height: 100%;
  font-family: sans-serif;
}

