<ion-header >
    <ion-toolbar color= "dark">
      <ion-title >
         Monitoring Vericompost Production
      </ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img src="../../assets/img/heziel.jpg" alt="" srcset="">
      </ion-avatar>
      <h3>&nbsp;&nbsp;Heziel Alimoren</h3>
    </ion-item>
    <ion-card-header>
      <ion-card-subtitle>MSU-IIT -BSECT</ion-card-subtitle>
      <ion-card-title>Contact Information</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-icon name="mail"></ion-icon>&nbsp; <a href="mailto:heziel.alimoren@g.msuiit.edu.ph"> heziel.alimoren@g.msuiit.edu.ph</a> <br>
      <ion-icon name="logo-facebook"></ion-icon>&nbsp;  <a href="https://www.facebook.com/hayielly">fb.com/hayielly </a> <br>
      <ion-icon name="call"></ion-icon>&nbsp;f <a href="tel:+639134567891">+639134567891</a>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-item>
        <ion-avatar item-start>
          <img src="../../assets/img/jazmine.jpg" alt="" srcset="">
        </ion-avatar>
       <h3>&nbsp;&nbsp;Jazmine M. Dela Cruz</h3>
      </ion-item>
      <ion-card-header>
        <ion-card-subtitle>MSU-IIT -BSECT</ion-card-subtitle>
        <ion-card-title>Contact Information</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-icon name="mail"></ion-icon>&nbsp; <a href="mailto:heziel.alimoren@g.msuiit.edu.ph">jazmine.delacruz@g.msuiit.edu.ph</a> <br>
        <ion-icon name="logo-facebook"></ion-icon>&nbsp; <a href="https://www.facebook.com/jazmine.delacruz.10"> fb.com/jazmine.delacruz.10 </a> <br>
        <ion-icon name="call"></ion-icon> &nbsp;<a href="tel:+639134567891">+639134567891</a>
      </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="../../assets/img/mark.jpg" alt="" srcset="">
          </ion-avatar>
          <h3>&nbsp;&nbsp;Mark Lesther Patic</h3>
        </ion-item>
        <ion-card-header>
          <ion-card-subtitle>MSU-IIT -BSECT</ion-card-subtitle>
          <ion-card-title>Contact Information</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-icon name="mail"></ion-icon>&nbsp; <a href="mailto:heziel.alimoren@g.msuiit.edu.ph"> marklesther.patic@g.msuiit.edu.ph</a> <br>
          <ion-icon name="logo-facebook"></ion-icon>&nbsp;  <a href="https://www.facebook.com/MarkJCFreak">fb.com/MarkJCFreak </a> <br>
          <ion-icon name="call"></ion-icon>&nbsp; <a href="tel:+639134567891">+639134567891</a>
        </ion-card-content>
      </ion-card>
  

</ion-content>
